button {
  background-color: dodgerblue;
  border: none;
  width: 90px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
button:focus {
  outline: none;
}
button:active {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
p, h2 {
  text-align: center;
  color: #000;
  background-color: inherit;
  font-family: Arial;
}
